<visicutPreferences>
  <defaultMapping>schneide rot, graviere Rest, ignoriere blau, markiere gruen</defaultMapping>
  <disableSandbox>true</disableSandbox>
  <useFilenamesForJobs>false</useFilenamesForJobs>
  <labName>Konglomerat e.V.</labName>
  <enableQRCodes>false</enableQRCodes>
  <fastQRCodes>false</fastQRCodes>
  <fabqrActive>false</fabqrActive>
  <autoUpdateSettingsDisabled>false</autoUpdateSettingsDisabled>
  <lastAutoUpdateTime>1552244436564</lastAutoUpdateTime>
  <lastAutoUpdateLabName></lastAutoUpdateLabName>
  <windowBounds>
    <x>391</x>
    <y>35</y>
    <width>1375</width>
    <height>968</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>C:\Users\LASERSAUR\Desktop\visicut\examples\Basic\circle-20mm-red.svg</string>
    <string>C:\Users\LASERSAUR\Desktop\PI_MOVIE_QUOTES_TYPO.svg</string>
    <string>C:\Users\LASERSAUR\Desktop\PI_MOVIE_QUOTES_TYPO.eps</string>
    <string>C:\Users\LASERSAUR\Desktop\PI_MOVIE_QUOTES_TYPO_2_finalProduction.pdf</string>
    <string>C:\Users\LASERSAUR\Desktop\visicut\examples\bendable-material.svg</string>
  </recentFiles>
  <lastMaterial>Acryl</lastMaterial>
  <lastLaserDevice>LaserSaur Dresden</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <laserCutterTags>lasercutter, lasercut, laser cutter, laser cut</laserCutterTags>
  <supportedExtensions>svg, plf, dxf, eps, gcode</supportedExtensions>
</visicutPreferences>